@import "../../app.component.scss";

#modalContainer {
    // width: 100%;
    // display: flex;
    // justify-content: center;
    h1 {
        color: $blue;
        font-family: Roboto;
        font-weight: 100;
        font-size: 2em;
        margin-bottom: 10px;
    }

    #imagesContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;;
    
        .image {
            width: 150px;
            height: 150px;
            background-position: center;
            background-size: cover;
            margin: 10px;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                padding: 10px;
                margin: 0px;
            }
        }
    }
}



