<div id="entryDetailContainer" [formGroup]="editEntryForm">
    <div class="header">
        <!-- Not in edit mode header -->
        <div *ngIf="!editMode" class="leftHeader">
            <h1>{{entry.title}}</h1>
            <p>{{entry.date | date}}</p>
        </div>
        <!-- Edit mode header -->
        <div *ngIf="editMode" class="leftHeader">
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput formControlName="title">
                <mat-error>Must have a title</mat-error>
            </mat-form-field>
            <div class="datePicker">
                <mat-form-field color="primary" appearance="fill">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="picker2" [formControl]="datePickerDate" formControlName="datePicker">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker [startAt]="entry.date" #picker2 color="primary"></mat-datepicker>
                  </mat-form-field>
            </div>
        </div>
        <i *ngIf="!editMode" (click)="editMode = !editMode" title="Edit" class="fas fa-pencil-alt"></i>
    </div>
    <quill-view-html *ngIf="!editMode" [content]="entry.body"></quill-view-html>
    <div *ngIf="editMode">
      <h1>Edit Mode</h1>
      <p>Click save to save progress</p>
      <quill-editor
        #editor [styles]="{height: '50vh'}"
        formControlName="entryContent">
      </quill-editor>
      <button mat-stroked-button class="saveButton" (click)="saveEntry()">Save</button>
    </div>
    
</div>
