<div id="journalDetailContainer">
    <div id="journalNav">
        <p [routerLink]="['../../dashboard']">> My Journals</p>
    </div>
    <div id="journalDetailBody">
        <div id="leftSide">
            <div id="journalHeader">
                <h1>{{journal.title}}</h1>
            </div>
            <div class="entryHeaders">
                <p>Title</p>
                <p>Date</p>
                <p>Content</p>
            </div>
            <div *ngFor="let entry of journal.entries" class="entryContainer">
                <h1>{{entry.title}}</h1>
                <p>{{entry.date | date}}</p>
                <p>{{entry.body | slice:0:20}}...</p>
            </div>
            
        </div>
        <div id="rightSide">
            <div id="tagContainer">
                <div id="tagHead">
                    <h1>Tags</h1>
                    <i class="fas fa-pencil-alt" (click)="handleEditClick()"></i>
                </div>
                <div class="divider"></div>
                <div class="createTagForm" [ngClass]="{'showTagForm': editMode}" [formGroup]="newTagForm">
                    <mat-form-field>
                        <input (keypress)="handleNewTagEnterKey($event)" [(ngModel)]="newTagName" formControlName="tagName" placeholder="Tag Name" type="text" matInput>
                        <mat-error>Please enter a tag name</mat-error>
                    </mat-form-field>
                    <button mat-stroked-button class="submitButton" (click)="createNewTag()">Create Tag</button>
                </div>
                <div [ngClass]="{'showTagDivider': editMode}" class="noDisplay">Click the tags below to remove them.</div>
                <div class="tags">
                    <div *ngFor="let tag of tags" class="tag" [ngClass]="{'editTagMode': editMode}" (click)="handleTagClick(tag, $event)">{{tag}}</div>
                </div>
            </div>
        </div>
    </div>
    
    
    
</div>