html,body, h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
}

.noDisplay {
    display: none;
}

h1 {
    font-weight: 100;
}

#journalDetailContainer {
    padding: 20px;
    color: #708090;

    #journalNav p {
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
        &:focus {
            outline: 0;
        }
    }

    #journalDetailBody {
        display: grid;
        grid-template-columns: 3fr 1fr;
        position: relative;
    }

    #journalHeader {
        h1 {
            text-align: center;
            font-size: 2.5em;
            font-family: Roboto;
            font-weight: 100;
            margin: 20px 0;
        }
    }
}

.entryHeaders {
    padding: 5px 15px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-weight: 100;
}



.entryContainer {
    // display: flex;
    // justify-content: flex-start;
    // align-items: flex-end;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #f6f6f6;
    transition: all 0.2s;
    margin-bottom: 10px;
    padding: 10px 15px;
    box-sizing: border-box;
    color: #708090;

    &:hover {
        background-color: #708090;
        color: white;
        cursor: pointer;
    }

    p {
        margin: auto 0;
    }
}

#rightSide {
    
    position: relative;

    #tagContainer {
        box-sizing: border-box;
        margin: 10px;
        background-color: #f6f6f6;
        padding: 10px;

        #tagHead {
            display: flex;
            justify-content: space-between;
            font-weight: 100;
            align-items: center;

            i {
                font-size: 1.5em;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .divider {
            height: 1px;
            width: 30%;
            background-color: #708090;
            margin: 20px 0;
        }

        .createTagForm {
            transition: all 0.5s;
            overflow: hidden;
            height: 0px;
            display: flex;
            justify-content: space-between;
            
        }

        .showTagForm {
            height: 40px;
            padding-bottom: 20px;
        }

        .dividerSecond {
            width: 30%;
            background-color: #708090;
            transition: all 0.5s;
        }

        .showTagDivider {
            display: block;
            margin-bottom: 10px;
            color: #994C4C;
        }

        .tags {

            .editTagMode {
                border: 1px solid #994C4C;
                color: #994C4C;
                background-color: transparent;
                &:hover {
                    background-color: #994C4C;
                }
            }
        }
    }
}