<div id="journalDetailContainer">
    <div id="journalNav">
        <p [routerLink]="['../../dashboard']">My Journals</p>
        <div class="leftNavItems">
            <a *ngIf="!editMode" (click)="handleEditClick()">Edit</a>
            <a *ngIf="editMode" (click)="handleEditClick()">Close Edit Mode</a>
            <a>Donate</a>
            <a (click)="signOut()">Sign out</a>
        </div>
    </div>
    <div id="journalDetailBody">
        <div id="leftSide">
            <div *ngIf="!editMode" id="journalHeader">
                <h1>{{(journal | async)?.title}}</h1>
            </div>
            <div *ngIf="editMode" [@slideDownReg] id="journalHeaderEdit">
                <div class="formContainer">
                    <div class="formRow1" [formGroup]="editJournalTitleForm">
                        <mat-form-field>
                            <input matInput placeholder="Title" formControlName="title">
                            <mat-error>Please enter a title</mat-error>
                        </mat-form-field>
                        <button (click)="updateJournalTitle()" class="updateButton" mat-stroked-button>Update</button>
                    </div>
                    <div class="fullButton">
                        <button mat-stroked-button (click)="openDialog()">Change Display Image</button>
                    </div>
                    <div class="fullButton deleteButton">
                        <button mat-stroked-button (click)="openDeleteJournalModal()" color="warn">Delete Journal</button>
                    </div>

                </div>
                
                
            </div>
            <div *ngIf="(entries | async)?.length !== 0" class="entryHeaders">
                <p>Title</p>
                <p>Date</p>
                <p>Last Edit</p>
                <p>Content</p>
            </div>
            <div *ngFor="let entry of entries | async" class="entryContainer" [routerLink]="[entry.docId]">
                <h1>{{entry.title}}</h1>
                <p>{{entry.date | date}}</p>
                <p>{{entry.lastEdit | date}}</p>
                <p>{{entry.body | stripTagsAndSlice}}...</p>
            </div>
            <div *ngIf="(entries | async)?.length === 0" class="noEntriesContainer">Looks like you have no entries for this journal yet. Click the plus icon to create one!</div>
            <div *ngIf="moreEntries && currentlyLoading" class="loadMore"><mat-spinner diameter="30"></mat-spinner></div>
            
        </div>
        <div id="rightSide">
            <div id="tagContainer">
                <div id="tagHead">
                    <h1>Tags</h1>
                </div>
                <div class="divider"></div>
                <div class="createTagForm" [ngClass]="{'showTagForm': editMode}" [formGroup]="newTagForm">
                    <mat-form-field>
                        <input (keypress)="handleNewTagEnterKey($event)" [(ngModel)]="newTagName" formControlName="tagName" placeholder="Tag Name" type="text" matInput>
                        <mat-error>Please enter a tag name</mat-error>
                    </mat-form-field>
                    <button mat-stroked-button class="submitButton" (click)="createNewTag()">Create Tag</button>
                </div>
                <div [ngClass]="{'showTagDivider': editMode}" class="noDisplay" *ngIf="(tags | async)?.length !== 0">Click the tags below to remove them.</div>
                <div class="tags">
                    <div *ngFor="let tag of tags | async" class="tag" [ngClass]="{'editTagMode': editMode}" (click)="handleTagClick(tag, $event)">{{tag}}</div>
                    <div *ngIf="(tags | async)?.length === 0">Add tags to stay organized.</div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="addNewJournalButton" class="addNewJournalButton" (click)="showAddNewEntryForm()">
        <div *ngIf="!showForm">+</div>
        <div *ngIf="showForm" [formGroup]="newEntryForm">
            <div class="closeButton" (click)="closeNewEntryForm();$event.stopPropagation()">Close</div>
            <mat-form-field class="inputContainer">
                <input formControlName="title" matInput placeholder="New Entry Name">
                <mat-error>Please enter a name for your new journal</mat-error>
            </mat-form-field>
            <button (click)="createNewEntry()" mat-stroked-button>Create</button>
        </div>
    </div>
    
</div>